*{
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 80%;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    
}

.kanit-bold {
    font-family: "Kanit", serif;
    font-weight: 700;
    font-style: normal;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signin_form input{
    width: 400px;
    height: 40px;
    background-color: #4a4849;
    color: #fff;
    font-family: "Kanit", serif;
    font-weight: 700;
    font-style: normal;
    padding-left: 10px;
}

#signin_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#signin_form .mb-3{
    display: flex;
    flex-direction: column;
}

#signin_form button {
    width: 100px;
    height: 40px;
    background-color: black;
    color: #fff;
    border:  none;
}

.img_men img{
    width: 450px;
}

