project-manager-back/.phpunit.cache
project-manager-back/node_modules
project-manager-back/public/build
project-manager-back/public/hot
project-manager-back/public/storage
project-manager-back/storage/*.key
project-manager-back/vendor
project-manager-back.env
project-manager-back.env.backup
project-manager-back.env.production
project-manager-backHomestead.json
project-manager-backHomestead.yaml
project-manager-backauth.json
project-manager-backnpm-debug.log
project-manager-backyarn-error.log
project-manager-back/.fleet
project-manager-back/.idea
project-manager-back/.vscode
